---
layout: archive
title: "Data and Code"
permalink: /data_code/
author_profile: true
---
<p style="font-size:18px"><b>More Data and Code is Coming Soon</b></p>

<ul>
<li> <a href="https://github.com/dadasmash/Brahmin_Replication" target="_blank" rel="noopener noreferrer"> Replication package</a> for I4R Discussion Paper 
  <a href="https://www.econstor.eu/bitstream/10419/268753/1/I4R-DP019.pdf" target="_blank" rel="noopener noreferrer"> 
    "Replication Report: A Comment on Gethin, Martínez- Toledano & Piketty (2022)"</a>
</ul>

<ul>
<li> <a href="https://github.com/dadasmash/China_COVID_Risk_Level_Dataset" target="_blank" rel="noopener noreferrer"> China COVID Risk Level Dataset </a> <br>
  Please Cite: <br>
  Da Gong, Zhuocheng Shang, Yaqin Su, Andong Yan, Qi Zhang, Economic impacts of China's zero-COVID policies, China Economic Review, Volume 83, 2024, 102101, ISSN 1043-951X, https://doi.org/10.1016/j.chieco.2023.102101.
</ul>



{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

