---
layout: archive
title: "Side B"
permalink: /side_b/
author_profile: true
---

<html>
 <head>
  <style>
   .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
   </style>
 </head>

 
<body>
<div class="embed-container">
    <iframe width="560" height="315" 
     src="https://www.youtube.com/embed/kMGefLZg4LU" title="YouTube video player" 
     frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
     </iframe>
</div>

 <div>
 <yt-attributed-string class="style-scope ytd-text-inline-expander">
 <span class="yt-core-attributed-string yt-core-attributed-string--white-space-pre-wrap" role="text"><span class="yt-core-attributed-string--link-inherit-color" style="color: rgb(19, 19, 19);">
 Dadasmash is the bass player of The Hotel of The Total Strangers, a psychedelic rock and punk band that was based in Changsha, China.
 Band: The Hotel of The Total Strangers  陌客旅馆
Douban 豆瓣: </span><span class="yt-core-attributed-string--link-inherit-color" style="color: rgb(19, 19, 19);">https://site.douban.com/thotts/</span><span class="yt-core-attributed-string--link-inherit-color" style="color: rgb(19, 19, 19);">
Live at 46 Livehouse, Changsha, China.  06/12/2014. 逃往现实

Vocals: Yecun Ding 丁野村
Guitar: Lovely Huang 黄可爱
Bass: DadaSmash 达斯麦琪
Drum: Haowen An 安浩文
Camera: Hao Ding 丁昊
Song 1 : The Hotel Of The Total Strangers 尽是陌客旅馆
Song 2:  Sultans of Feedback 消叫之王 ( A Tribute to Guns N Roses )
Song 3: Omnipotent God 全能的神</span></span>
 </yt-attributed-string>
 </div>
</body>
 
</html>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

