---
layout: archive
title: "Side B"
permalink: /side_b/
author_profile: true
---

<html>
 <head>
  <style>
   .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 60%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 15;
  width: 100%;
  height: 100%;
}

 h2 {
  text-align:  left;
  color: #080808;
  margin: 5;
}
   
 p {
  text-indent: 50px;
  text-align: left;
  letter-spacing: 3px;
  margin: 5;
}

a {
  text-decoration: none;
  color: #008CBA;
}
   </style>
 </head>

 
<body>
 -----------------------------------------
 <div>
  <h2>The Hotel of The Total Strangers live @ 46 Livehouse. 06/12/2014 </h2>
 </div>
<div class="embed-container">
    <iframe width="560" height="315" 
     src="https://www.youtube.com/embed/kMGefLZg4LU" title="YouTube video player" 
     frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
     </iframe>
</div>

 <div>
<p>Dadasmash is the bass player of The Hotel of The Total Strangers, a psychedelic rock and punk band that was based in Changsha, China.</p>

<p>Band: The Hotel of The Total Strangers  陌客旅馆</p>
<a target="_blank" href="https://site.douban.com/thotts">"Douban 豆瓣"</a>
<p>Live at 46 Livehouse, Changsha, China.  06/12/2014. 逃往现实</p>
<p>Vocals: Yecun Ding 丁野村</p>
<p>Guitar: Lovely Huang 黄可爱</p>
<p>Bass: DadaSmash 达斯麦琪</p>
<p>Drum: Haowen An 安浩文</p>
<p>Camera: Hao Ding 丁昊</p>
<p>Song 1 : The Hotel Of The Total Strangers 尽是陌客旅馆</p>
<p>Song 2:  Sultans of Feedback 消叫之王 ( A Tribute to Guns N Roses ) </p>
<p>Song 3: Omnipotent God 全能的神</p>
 </div>
 
</body>
 
</html>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

