---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---
<p style="font-size:25px"><b>2022</b></p>
Presidential Session, <br>
Southern Economic Association 92th Annual Meeting, 11/20/2022, Fort Lauderdale, FL<br>
<br>

"The Impacts of Social Media on the Health of Individuals, Communities and Society" Workshop, 08/26/2022, <br> 
Department of Computer Science and Engineering, UC Riverside, (hosted by <a href="https://www.cs.ucr.edu/~tsotras/" target="_blank" rel="noopener noreferrer">Vassilis Tsotras</a>)
<br>
<br>
1st International Workshop on the Chinese Development Model, 07/07/2022,<br>
IQS School of Management, Ramon Llull University, Barcelona <br>
<br>

Contemporary Economic Policy Invited Session, <br>
Western Economic Association International 97th Annual Conference, 06/29/2022, Portland, OR<br>
<br>

The Chinese Economists Society 2022 Annual Conference, 06/25/2022, Zoom

<p style="font-size:25px"><b>2021</b></p>
Graduate Student Brown Bag, 12/03/2021, UC Riverside 

<p style="font-size:25px"><b>2021</b></p>
China Gazetteer Project Team Report, Seminar in China Economy, 12/01/2017, Harvard University

<!-- 
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %} -->

<!-- {% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
 -->
