---
layout: archive
title: ""
permalink: /talks/
author_profile: true
---
<html lang="en">
<!-- define head and style (similar with import package) -->
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>


<body>
<div class="container">
	
<div align="center" id="top">
<h1 class="text-muted" style="color: #888888; font-weight:600; text-shadow: 1px 1px #A9A9A9;"> 
<i>EXPERIENCE</i> 
</h1>
  <h2 class="text-muted"> 
     <a href="#Talk" target="_blank" style="color: #888888; font-weight:600; text-decoration: none;">
	Talks and Presentations &nbsp; &nbsp; &nbsp;
     </a>
     <a href="#HF" target="_blank" style="color: #888888; font-weight:600; text-decoration: none;">
	 Honors & Fellowships &nbsp; &nbsp; &nbsp;
     </a>
     <a href="#Referee" target="_blank" style="color: #888888; font-weight:600; text-decoration: none;">
	Referee &nbsp; &nbsp; &nbsp;
     </a>	 
  </h2>
<br>
</div>

<!-- Talks and Presentations -->
<div align="left" id="Talk">
<h1> Talks and Presentations </h1> <br>
</div>
<hr class="featurette-divider ">
<p style="font-size:20px"><b>2023</b></p>

Young Scholars Conference, 08/29/2023, UCSD
	
<br>
<a href="https://macreu.ucr.edu/" target="_blank" rel="noopener noreferrer">MacRue</a> , 07/07/2023, College of Natural and Agricultural Sciences, UC Riverside <br>
	
<br>
Contemporary Economic Policy Invited Session, <br>
Western Economic Association International 98th Annual Conference, 07/01/2023, Virtual<br>
<br> 
<a href="https://dspathways.nicepage.io/DS-UCR.html" target="_blank" rel="noopener noreferrer">Data Science Pathways Summer Fellowship program</a>,  06/27/2023, UC Riverside<br>
<br>
Chinese Economists Society 2023 North America Conference, 04/01/2023, University of Oklahoma, OK<br>
<br>

<hr class="featurette-divider ">
<p style="font-size:20px"><b>2022</b></p>
Presidential Session, <br>
Southern Economic Association 92th Annual Meeting, 11/20/2022, Fort Lauderdale, FL<br>
<br>

"The Impacts of Social Media on the Health of Individuals, Communities and Society" Workshop, 08/26/2022, <br> 
Department of Computer Science and Engineering, UC Riverside, (hosted by <a href="https://www.cs.ucr.edu/~tsotras/" target="_blank" rel="noopener noreferrer">Vassilis Tsotras</a>)
<br>
<br>
1st International Workshop on the Chinese Development Model, 07/07/2022,<br>
IQS School of Management, Ramon Llull University, Barcelona <br>
<br>

Contemporary Economic Policy Invited Session, <br>
Western Economic Association International 97th Annual Conference, 06/29/2022, Portland, OR<br>
<br>

The Chinese Economists Society 2022 Annual Conference, 06/25/2022, Virtual 

<hr class="featurette-divider ">
<p style="font-size:20px"><b>2021</b></p>
Graduate Student Brown Bag, 12/03/2021, UC Riverside<br>

<hr class="featurette-divider ">
<p style="font-size:20px"><b>2017</b></p>
China Gazetteer Project Team Report, Seminar in China Economy, 12/01/2017, Harvard University <br>

<!-- Honors & Fellowships -->
<hr class="featurette-divider ">
<div align="left" id="HF">
<h1> Honors & Fellowships </h1> <br>
</div>
<hr class="featurette-divider ">
Dean’s Distinguished Fellowship, UC Riverside 2018 - present<br>
Travel Subsidy, Chinese Economists Society North American Conference, 2023<br>
Student Travel Grant, Graduate Student Association, UC Riverside 2022,2023 <br>
Travel Grant, Department of Economics, UC Riverside  2022,2023<br>
	

<!-- Referee -->
<hr class="featurette-divider ">
<div align="left" id="Referee">
<h1> Referee </h1> <br>
</div>

<hr class="featurette-divider ">
<p style="font-size:20px"><b>SSM - Population Health</b></p>
 <br>

<div align="center">
  <h2 class="text-muted"> 
     <a href="#top" target="_blank" style="color: #888888; font-weight:600; text-decoration: none;">
	Back to top &nbsp; &nbsp; &nbsp;
     </a>	 
  </h2>
<br>
</div>
	
</div>
</body>
<!-- 
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %} -->

<!-- {% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
 -->
