---
layout: archive
title: ""
permalink: /teaching/
author_profile: true
---
<!-- Teaching Experience -->
<hr class="featurette-divider ">
<div align="left" id="HF">
<h1> Teaching Experience </h1> 
</div>
<hr class="featurette-divider ">
<p style="font-size:20px"><b>Lead Consultant,  <a href="https://gradquant.ucr.edu/" target="_blank" rel="noopener noreferrer"  style="text-decoration: none;">
  Graduate Quantitative Methods Center</a>,
&nbsp; UC Riverside, &nbsp; Jan 2023 - present </b></p>
<ul>
  <li>Develop and present graduate level workshops on topics e.g. Singular Value Decomposition,
    Staggered Difference-in-Difference, Testing for Parallel Trends, Bootstrapping, CLT,
      Natural Language Processing, Topic Model, Web-scraping, Stata, Python, R, Github, Latex
      and more</li>
  
  <li>Conduct daily consultations in statistics and programming to graduate students and postdoctoral scholars from a variety of disciplines, 
    including Economics, Public Policy, Political Sciences, Mathematics, Education, Psychology, Electrical Engineering, Biology, Ecology, and Humanities</li>

  <li> <a href="https://github.com/dadasmash/GradQuant" target="_blank" rel="noopener noreferrer"  style="text-decoration: none;"> 
    Access Workshop Material.</a> </li>
</ul>

<hr class="featurette-divider ">
<p style="font-size:20px"><b>Advising, &nbsp; UC Riverside</b></p>
<a href="https://macreu.ucr.edu/" target="_blank" rel="noopener noreferrer">MacRue</a>, College of Natural and Agricultural Sciences, Summer, 2023 <br>
<ul>
  <li>Provide instructions on presenting data, posters, and research to underrepresented
undergraduate students in STEM fields from community
and 4-year colleges.</li>
</ul>

<a href="https://dspathways.nicepage.io/DS-UCR.html" target="_blank" rel="noopener noreferrer">Data Science Pathways Summer Fellowship program</a>, Summer, 2023 <br>
<ul>
  <li>Provide data science training to students from community colleges and
4-year universities with diverse backgrounds.</li>
</ul>

<hr class="featurette-divider ">
<p style="font-size:20px"><b>Instructor, &nbsp; UC Riverside</b></p>
Econ 143: Environmental Economics &nbsp; &nbsp; &nbsp;  Summer B, 2022 <br>
Econ153: Labor Economics   &nbsp; &nbsp; &nbsp;  Summer A, 2021 <br>

<hr class="featurette-divider ">
<p style="font-size:20px"><b>Teaching Assistant,  &nbsp; UC Riverside</b></p> 
Econ101: Statistics for Economics &nbsp; &nbsp; &nbsp; Fall 2020, Winter 2022, Spring 2022<br>
Econ107: Introductory Econometrics &nbsp; &nbsp; &nbsp; Winter 2021, Fall 2021<br>
Econ 104B: Intermediate Microeconomic theory &nbsp; &nbsp; &nbsp; Spring 2021<br>
Econ 105B: Intermediate Macroeconomic theory &nbsp; &nbsp; &nbsp; Spring 2020<br>
Econ103: Intermediate Macroeconomics for Business &nbsp; &nbsp; &nbsp; Fall 2019, Winter 2020<br>
Econ135: The Stock Market &nbsp; &nbsp; &nbsp; Fall 2019, Fall 2022<br>

<br>
<hr class="featurette-divider ">
<div align="left" id="HF">
<h1> Research Assistant </h1> 
</div>
<hr class="featurette-divider ">
<p style="font-size:20px"><b><a href="https://chinagazetteer.wixsite.com/project" target="_blank" rel="noopener noreferrer"  style="text-decoration: none;">
  China Gazetteer Project</a>,
 &nbsp; Feb 2017 – Dec 2017 </b></p> 
Mentor: Richard B. Freeman, Harvard University <br>
<ul>
<li>Collaborated with team members to digitize and clean data of Chinese
county-level gazetteers and create a socio-economic database for post-1949
China.</li>
<li>Interviewed with gazetteer compilers and conducted qualitative research in
the China’s statistic criteria at county level.</li>
<li> Established a database of population and agriculture policies in China from
1949 to 2000. </li>
</ul>
<hr class="featurette-divider ">
<p style="font-size:20px"><b>Human Capital Transfers and Rural Enterprise Development,
 &nbsp; Oct 2017 – Jan 2018 </b></p> 
Mentor: Jie Bai, Harvard Kennedy School  <br>
<ul>
<li>Investigated the effects of urban-rural migration shocks throughout the Chinese “sent-down” movement spanning from 1968 to 1976. Employed a 2sls
model to explore the sent-down effects on rural human capital and local firm
performance. </li>
</ul>
<!-- 
{% include base_path %} -->

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
 -->
