---
layout: archive
title: ""
permalink: /teaching/
author_profile: true
---
<!-- Teaching Experience -->
<hr class="featurette-divider ">
<div align="left" id="HF">
<h1> Teaching </h1> 
</div>
<hr class="featurette-divider ">
<p style="font-size:20px"><b>SUNY Geneseo</b></p>
<p style="font-size:20px"><b>Instructor</b></p>
Econ 205: Business and Economics Statistics  &nbsp; &nbsp; &nbsp; F24 <br>
DANL 101: Introduction to Data Analytics  &nbsp; &nbsp; &nbsp; F24, S25 <br>
DANL 202: Intro to Programming in Python  &nbsp; &nbsp; &nbsp; S25 <br>
MGMT 350: Information Systems Management  &nbsp; &nbsp; &nbsp; F24, S25 <br>
<br>
<hr class="featurette-divider ">
<p style="font-size:20px"><b>UC Riverside</b></p>

<p style="font-size:20px"><b>Instructor</b></p>
Econ 143: Environmental Economics &nbsp; &nbsp; &nbsp;  Summer B, 2022 <br>
Econ153: Labor Economics   &nbsp; &nbsp; &nbsp;  Summer A, 2021 <br>

<p style="font-size:20px"><b>Teaching Assistant/b></p> 
Econ101: Statistics for Economics &nbsp; &nbsp; &nbsp; F20, W22, S22<br>
Econ107: Introductory Econometrics &nbsp; &nbsp; &nbsp; W21, F21<br>
Econ 104B: Intermediate Microeconomic theory &nbsp; &nbsp; &nbsp; S21<br>
Econ 105B: Intermediate Macroeconomic theory &nbsp; &nbsp; &nbsp; S20<br>
Econ103: Intermediate Macroeconomics for Business &nbsp; &nbsp; &nbsp; F19, W20<br>
Econ135: The Stock Market &nbsp; &nbsp; &nbsp; F19, F22<br>

<br>
<!-- Advising Experience -->
<hr class="featurette-divider ">
<div align="left" id="HF">
<h1> Advising </h1> 
</div>
<hr class="featurette-divider ">
<p style="font-size:20px"><b> UC Riverside</b></p>
<b>Lead Consultant,  <a href="https://gradquant.ucr.edu/" target="_blank" rel="noopener noreferrer"  style="text-decoration: none;">
  Graduate Quantitative Methods Center</a> </b>,
&nbsp; Jan. 2023 - June. 2024 
<ul>
  <li>Develop and present graduate level workshops on topics e.g. Singular Value Decomposition,
    Staggered Difference-in-Difference, Testing for Parallel Trends, Bootstrapping, CLT,
      Natural Language Processing, Topic Model, Web-scraping, Stata, Python, R, Github, Latex
      and more</li>
  
  <li>Conduct daily consultations in statistics and programming to graduate students and postdoctoral scholars from a variety of disciplines, 
    including Economics, Public Policy, Political Sciences, Mathematics, Education, Psychology, Electrical Engineering, Biology, Ecology, and Humanities</li>

  <li> <a href="https://github.com/dadasmash/GradQuant" target="_blank" rel="noopener noreferrer"  style="text-decoration: none;"> 
    Access Workshop Material.</a> </li>
</ul>

<b><a href="https://macreu.ucr.edu/" target="_blank" rel="noopener noreferrer">MacRue</a></b>, College of Natural and Agricultural Sciences, Summer, 2023 <br>
<ul>
  <li>Provide instructions on presenting data, posters, and research to underrepresented
undergraduate students in STEM fields from community
and 4-year colleges.</li>
</ul>

<b><a href="https://dspathways.nicepage.io/DS-UCR.html" target="_blank" rel="noopener noreferrer">Data Science Pathways Summer Fellowship program</a></b>, Summer, 2023 <br>
<ul>
  <li>Provide data science training to students from community colleges and
4-year universities with diverse backgrounds.</li>
</ul>

<hr class="featurette-divider ">
<div align="left" id="HF">
<h1> Research Assistant </h1> 
</div>
<hr class="featurette-divider ">
<p style="font-size:20px"><b><a href="https://chinagazetteer.wixsite.com/project" target="_blank" rel="noopener noreferrer"  style="text-decoration: none;">
  China Gazetteer Project</a> </b>,
 &nbsp; Feb 2017 – Dec 2017 </p> 
Mentor: Richard B. Freeman, Harvard University <br>
<ul>
<li>Collaborated with team members to digitize and clean data of Chinese
county-level gazetteers and create a socio-economic database for post-1949
China.</li>
<li>Interviewed with gazetteer compilers and conducted qualitative research in
the China’s statistic criteria at county level.</li>
<li> Established a database of population and agriculture policies in China from
1949 to 2000. </li>
</ul>
<hr class="featurette-divider ">
<p style="font-size:20px"><b>Human Capital Transfers and Rural Enterprise Development </b>,
 &nbsp; Oct 2017 – Jan 2018 </p> 
Mentor: Jie Bai, Harvard Kennedy School  <br>
<ul>
<li>Investigated the effects of urban-rural migration shocks throughout the Chinese “sent-down” movement spanning from 1968 to 1976. Employed a 2sls
model to explore the sent-down effects on rural human capital and local firm
performance. </li>
</ul>
<!-- 
{% include base_path %} -->

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
 -->
