---
layout: archive
title: ""
permalink: /teaching/
author_profile: true
---
<!-- Teaching Experience -->
<hr class="featurette-divider ">
<div align="left" id="HF">
<h1> Teaching Experience </h1> 
</div>
<hr class="featurette-divider ">
<p style="font-size:20px"><b>Lead Consultant,  <a href="https://gradquant.ucr.edu/" target="_blank" rel="noopener noreferrer">Graduate Quantitative Methods Center</a>,
UC Riverside, &nbsp; &nbsp; &nbsp; Jan 2023 - present </b></p> <br>
<ul>
  <li>Develope and present graduate level workshops on topics e.g. Staggered
      Difference-in-Difference, Testing for Parallel Trends, Bootstrapping, CLT,
      Natural Language Processing, Web-scraping, Stata, Python, R, Github, Latex
      and more</li>
  
  <li>Conduct daily consultations in statistics and programming to graduate students and postdoctoral scholars from a variety of disciplines, 
    including Economics, Public Policy, Political Sciences, Education, Psychology, Electrical Engineering, Biology, Ecology, and Humanities</li>
</ul>

<hr class="featurette-divider ">
<p style="font-size:20px"><b>Instructor, UC Riverside</b></p> <br>
Econ 143: Environmental Economics &nbsp; &nbsp; &nbsp; Summer B, 2022 
Econ153: Labor Economics   &nbsp; &nbsp; &nbsp; Summer A, 2021 

<!-- 
{% include base_path %} -->

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
 -->
